:root {
    --bg-color: #F5F7FA;
    --primary-color: #1C1C1E;
    --secodary-color: #6B7280;
    --accent-color: #007BFF;
    --win-status: #28A745;
    --loss-status: #DC3545;
    --draw-neutral: #FFC107;
    --card-alert: #FFCC00;
    --separation: #E0E0E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
}

.header-container,
.footer-container {
    padding: 1rem 20px;
    text-align: center;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

header {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

header a {
    color: #eee;
}

.brand {
    font-size: 1.4rem;
    align-content: center;
}

#menu {
    font-size: 1.4rem;
    background-color: transparent;
    color: #eee;
    border: none;
    position: absolute;
    top: 17px;
    right: 16px;
}

#menu::before {
    content: "≡";
}

#menu.open::before {
    content: "x";
}

#menu.open {
    top: 15px;
    right: 18px;
}

#menu.open ~ nav {
    display: block;
}

header nav {
    display: none;
    padding: .6rem 0;
}

header ul {
    padding-top: .67rem;
    list-style-type: none;
}

nav li {
    padding: .6rem;
}

main {
    padding: 1rem 20px;
}

h1 {
    margin-block: 1.67rem;
    text-align: center;
}

main > p {
    padding: 1rem 0 2rem;
    font-size: 1.2rem;
}

.block {
    background-color: white;
    color: var(--primary-color);
    padding: 2rem 20px;
}

footer {
    background-color: var(--secodary-color);
    color: #eee;
}