:root {
    --primary-color: #FFFF00;
    --secondary-color: #0B2027;
    --accent1-color: #202A25;
    --accent2-color: #568259;
    --accent3-color: #F1FFFA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, Arial, sans-serif;
    letter-spacing: .4px;
}

p {
    line-height: 1.4rem;
}

header {
    background-color: var(--accent3-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 3% 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
}

header a {
    text-decoration: none;
    position: relative;
}

header .brand {
    font-size: 1.2rem;
    color: var(--accent2-color);
}

button {
    padding: 0 4px;
    font-size: 1.4rem;
    border: none;
    background: none;
    position: absolute;
    right: 3%;
}

.hamberger::after {
    content: "≡";
    color: var(--accent2-color);
}

nav {
    background-color: var(--accent1-color);
    padding: .8rem;
    margin-top: .8rem;
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav a {
    color: var(--accent3-color);
}

main {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 1.6rem 4%;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

main h2 {
    color: var(--accent3-color);
    margin-left: .6rem;
    margin-bottom: .8rem;
    position: relative;
}

main h2::before {
    content: "";
    background-color: var(--accent2-color);
    border: 1px solid var(--accent2-color);
    height: 26px;
    width: 2px;
    position: absolute;
    left: -.6rem;
}

main ul {
    margin-left: 4%;
}

main li {
    line-height: 1.4rem;
}

.color-schema {
    background-color: #ccc;
    color: var(--accent1-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 4%;
    margin: .5rem 0;
    padding: 1.5rem;
    height: 21rem;
}

.palette p {
    margin-left: 10%;
}

.color {
    width: 100%;
    height: 60px;
    border-radius: .6rem;
    margin-bottom: .4rem;
    position: relative;
}

.primary {
    background-color: var(--primary-color);
}

.primary::after {
    content: "#FFFF00";
    color: var(--accent1-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.secondary::after {
    content: "#0B2027";
    color: var(--accent3-color);
}

.accent1 {
    background-color: var(--accent1-color);
}

.accent1::after {
    content: "#202A25";
    color: var(--primary-color);
}

.accent2 {
    background-color: var(--accent2-color);
}

.accent2::after {
    content: "#568259";
    color: var(--accent1-color);
}

.accent3 {
    background-color: var(--accent3-color);
}

.accent3::after {
    content: "#F1FFFA";
    color: var(--secondary-color);
}

.primary::after,
.secondary::after,
.accent1::after,
.accent2::after,
.accent3::after {
    position: absolute;
    bottom: .4rem;
    left: 10%;
}