@media (min-width: 426px) and (max-width: 768px) {
    header {
        padding: 2% 0;
    }

    header h1 {
        font-size: 1.4rem;
    }

    main {
        padding: 1.6rem 6%;
    }

    .color-schema {
        height: auto;
    }

    .wf-img-large {
        display: none;
    }

    .mobile {
        max-width: 375px;
    }

    .large {
        display: block;
    }
}